
body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background:#c2d1f0
}

.container{
background: white;
padding: 50px 60px;
border-radius: 16px;
text-align: center;
}

input{
    padding: 10px;
    width:220px;
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button{
    padding:10px 20px;
    margin-top:10px;
    background: #5182ed;
    color:white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor:pointer;
}

button:hover{
    background: #1e40af;
}

#result{
    font-weight: bold;
    margin-top: 20px;
}